.main_title {
    font-family: "Oswald";
	font-size: 44px;
	padding-bottom: 30px;
	margin-top: 30px;
	text-align: center;
	line-height: 65px;
	text-transform: uppercase;
	color: #07163d;
}
.main_title span {
    border-bottom: 1px solid #07163d;
    
}

.box {
    border-radius: 3px;
	/* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
	padding: 38px 30px;
	text-align: right;
	display: block;
     margin-top: 60px; 
    cursor: pointer;
}
.box-icon span {
	color: #fff;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.info h4 {
	color: #07163d;
	font-size: 22px;
	margin: 0px;
	font-family: Oswald;
	font-weight: 100;
	padding: 28px 0px;
	text-transform: uppercase;
}
.info > p {
	color: #07163d;
	font-size: 16px;
	text-align: center;
}

.box >.box-icon {
    border: 2px solid#07163d;
}
.box:hover >.box-icon {
	border: 2px solid#07163d;
	background-color: #fff;
	color:#07163d;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
}
.box:hover >.box-icon >span {
	color:#07163d;
}
.box-icon {
	background-color: #07163d;
	border-radius: 50%;
	display: table;
	height: 120px;
	margin: 0 auto;
    width: 120px;
    margin-top: -61px;
}

.glyphicon {
    font-size: 50px;
}
