

.navbar{
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  height: 100px;
  display: flex;
 
  width: 100%;

  align-items: center;
  justify-content: center;

}

.navbar img{
  width:120px;
  height: 100px;;
  margin-left:30px;
}
.navbar a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}


body{
 
  margin : 0 auto;
 
}

ul{
  
  color:white;
  }

  ul li{
   
    margin: 15px;
  }
 

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

  .images img{
    width:100%;
    height: 80%;
    
  }
  .content{
text-align: center;
  }

  .backdropStyle{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
    z-index: 1;
    margin-top: 120px;
  }
  .modalStyle {
    background-color: #fff;
    border-radius: 5px;
   
    height: 500px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    
  }

  .footerStyle{
    position: absolute;
    bottom: 29px
  }

  .Popup-images{
    
   
    
    width: 70%;
   
  }

  .Popup-images img{
    width:100%;
    height: 250px;
    margin-top: 5px;
    
  }
  .container-fluid{
    width:100%;
    margin-top:120px;
  }
  .each-fade{
height: 600px;

  }
  .each-fade img{
    width: 100%;


  }
 
  
    
  
  .my-events{
    margin: auto;
    width: 70%;
  }
 
  .createEvent{
    display :none;
  }
  

  
  .slider{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /**********************
/***** Services *******
/*********************/
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

#aboutcontainer{
  position: relative;
  margin-top: 20px;
}
h1{
  font-size:25px;
  text-align: left;
  text-transform:capitalize;
}
.service-box{
 position: relative;
 overflow: hidden;
 margin-bottom:10px;
 perspective:1000px;
 -webkit-perspective:1000px;
}
.service-icon{
 width: 100%;
 height: 220px;
 padding: 20px;
 text-align: center;
 transition: all .5s ease;
}

.service-content{
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
 opacity: 0;
 width: 100%;
 height: 220px;
 padding: 20px;
 text-align: center;
 transition: all .5s ease;
 background-color: #07163d;
 backface-visibility:hidden;
 transform-style: preserve-3d;
 -webkit-transform: translateY(110px) rotateX(-90deg);
 -moz-transform: translateY(110px) rotateX(-90deg);
 -ms-transform: translateY(110px) rotateX(-90deg);
 -o-transform: translateY(110px) rotateX(-90deg);
 transform: translateY(110px) rotateX(-90deg);
}
.service-box .service-icon .front-content{
 position: relative;
 top:80px;
 -webkit-transform: translateY(-50%);
 -moz-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 -o-transform: translateY(-50%);
 transform: translateY(-50%);
}

.service-box .service-icon .front-content i {
 font-size: 28px;
 color: white;
 font-weight: normal;
}

.service-box .service-icon .front-content h3 {
 font-size: 15px;
 color: white;
 text-align: center;
 margin-bottom: 15px;
 text-transform: uppercase;
}
.service-box .service-content h3 {
 font-size: 15px;
 font-weight: 700;
 color: white;
 margin-bottom:10px;
 text-transform: uppercase;
}
.dash-row{
  margin:15px;
  height:auto;
  
}
.dash-row .data-box{
  padding:0px 5px;
  height:auto;
  min-height:180px;
}
.dash-row .data-box > div{
  display:inline-flex;
  width:100%;
  height:auto;
  min-height:100%;
  background-color:rgba(255,255,255,0.8);
  justify-content: center;
    align-items: center;
}
.dash-row .data-box > div h3{
  font-size:15px;
  color:rgba(62,77,96,1.00);
}
.dash-row .data-box > div h3 span{
  font-size:32px;
  color:rgba(47,88,139,1.00);
}
.service-box .service-content p {
 font-size: 13px;
 color: white;
 margin:0;
}
.red{
  background-color: #b50900;
}

.service-box:hover .service-icon{
 opacity: 0;
 -webkit-transform: translateY(-110px) rotateX(90deg);
 -moz-transform: translateY(-110px) rotateX(90deg);
 -ms-transform: translateY(-110px) rotateX(90deg);
 -o-transform: translateY(-110px) rotateX(90deg);
 transform: translateY(-110px) rotateX(90deg);
}
.service-box:hover .service-content {
 opacity: 1;
 -webkit-transform: rotateX(0);
 -moz-transform: rotateX(0);
 -ms-transform: rotateX(0);
 -o-transform: rotateX(0);
 transform: rotateX(0);
}
.mission h1{
  color: black;
  margin-top: 100px;
}


.map{
  width:30px;
  height: auto;

}


