.navbar{
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
z-index: 3;
  height: 100px;
  display: flex;
 
  width: 100%;

  align-items: center;
  justify-content: center;

}

.navbar img{
  width:120px;
  height: 100px;;
  margin-left:30px;
}
.navbar a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}


body{
 
  margin : 0 auto;
 
}

ul{
  
  color:white;
  }

  ul li{
   
    margin: 15px;
  }
 

  .images{
    width:350px;
    height: 200px;
    float:left;
    margin:10px;
    box-shadow: rgba(34, 43, 55,0.5) 3px 0px 10px;
    
  }

  .images img{
    width:100%;
    height: 80%;
    
  }
  .content{
text-align: center;
  }

  .backdropStyle{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
    z-index: 1;
  }
  .modalStyle {
    background-color: #fff;
    border-radius: 5px;
   
    height: 500px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    
  }

  .footerStyle{
    position: absolute;
    bottom: 29px
  }

  .Popup-images{
    
   
    margin: auto;
    width: 70%;
   
  }

  .Popup-images img{
    width:100%;
    height: 250px;
    margin-top: 5px;
    
  }
  .container-fluid{
    width:100%;
  }
  .each-fade{
height: 600px;

  }
  .each-fade img{
    width: 100%;

  }
 
  
    
  
  .my-events{
    margin: auto;
    width: 70%;
  }
  .container-fluid{
    margin-top: 50px;
 
  

  }
  /**********************
/***** Services *******
/*********************/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section{
  padding: 60px 0;
  margin:0;
}
section .section-title{
	text-align:center;
	color:#007b5e;
	margin-bottom:50px;
	text-transform:uppercase;
}
#what-we-do{
	background:#ffffff;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #007b5e !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

   
  
