.navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
z-index: 3;
  height: 70px;

}
.navbar img{
  width:100px;
  height: 100px;;
  margin-left:30px;
}
.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}


body{
  background-color:#eee;
  margin : 0 auto;
 
}

ul{
  
  color:white;
  }

  ul li{
   
    margin: 15px;
  }
 

  .images{
    width:350px;
    height: 200px;
    float:left;
    margin:10px;
    box-shadow: rgba(34, 43, 55,0.5) 3px 0px 10px;
    
  }

  .images img{
    width:100%;
    height: 80%;
    
  }
  .content{
text-align: center;
  }

  .backdropStyle{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
    z-index: 1;
  }
  .modalStyle {
    background-color: #fff;
    border-radius: 5px;
   
    height: 500px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    
  }

  .footerStyle{
    position: absolute;
    bottom: 29px
  }

  .Popup-images{
    
   
    margin: auto;
    width: 70%;
   
  }

  .Popup-images img{
    width:100%;
    height: 250px;
    margin-top: 5px;
    
  }
  .container-fluid{
    width:100%;
  }
  .each-fade{
height: 600px;

  }
  .each-fade img{
    width: 100%;

  }
 
  
    
  
  .my-events{
    margin: auto;
    width: 70%;
  }
  .container-fluid{
    margin-top: 50px;
 
  

  }

   
  
