.navbar-nav{
width: 100%;
background-color:rgba(34,43,55,1.00);
color: #eee;

}
a{
  color:white;
 
}

body{
  background-color:#eee;
  margin : 0 auto;
 
}

ul{
  list-style-type:none;
  box-shadow: rgba(34, 43, 55,0.5) 3px 0px 10px;
  color:white;
  }

  ul li{
   
    margin: 15px;
  }
  .container-fluid {
    width: 80%;
    margin-top:40px;
  }

  .images{
    width:350px;
    height: 200px;
    float:left;
    margin:10px;
    box-shadow: rgba(34, 43, 55,0.5) 3px 0px 10px;
    
  }

  .images img{
    width:100%;
    height: 80%;
    
  }
  .content{
text-align: center;
  }
  .modal{
    width: 90%;
  }
 
